header{
    background-color: gray;
    color: gary;
    font-family: roboto;
    font-size: 16px;
    height: 56px;
    width: 100%;
    position: relative;
    line-height: normal;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
    box-sizing: border-box;
}
img{
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
}
input{
    min-width: 407px;
    padding-left: 16px;
    padding-right: 16px;
    width: 743px;
    height: 40px;
    background-color: '';
    border: none;
    color: #333;
    border-radius: 0px 10px 10px 0px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    position: absolute;
    left: 100px;
}
#search{
        
        
        margin-top: 9px;
        background: white;
        border-radius: 6px 0px 0px 6px;
        font-size: 20px;
        position: absolute;
        width: 30px;
        height: 32px;
        left: 60px;
        top: -5px;
     }



button{
    font-size: 16px;
    background-color: grey;
    color: #333;
    fill: currentColor;
    margin-left: 76px;
    border-radius: 10px solid #000000;
    border-radius: 10px solid #000000;
    border-radius: 10px solid #000000;
    border: 1px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    box-sizing: border-box;
    letter-spacing: -.4px;
    font-weight: 600;
    outline: none;
    padding: 0;
}
i{
    color: #8e8e8e;
    fill: currentColor;
    stroke-width: 0;
    vertical-align: middl;
    position: absolute;
    
    width: 20px;
    height: 20px;
    padding: 5px;
}
.div-buttons{
    position: absolute;
    right: 0%;
    top: 40%;
    display: inline;
    align-items: center;
    font-weight: bold;

}
